{% extends 'base.html' %}
{% block title %}Избранное{% endblock %}
{% block static %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock static %}
{% block content %}
{% csrf_token %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include 'include/tag.html' with active_tags=active_tags%}
    </div>
    <div class="card-list">
        {% for recipe in page %}
            {% include 'include/recipe.html' with recipe=recipe %}
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include 'include/pagination.html' with items=page paginator=paginator tags_for_page=tags_list%}
    {% endif %}
</main>
{% endblock content %}
{% block js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
{% endblock js%}
