{% extends 'base.html' %}
{% block title %}Рецепты{% endblock %}
{% block static %}
{% load static %}
    <!-- link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock static %}
{% block content %}
{% csrf_token %}
<body class="body">
    <main class="container py-5">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include 'include/tag.html' with active_tags=active_tags%}
        </div>
        <div class="card-list">
            {% for recipe in page %}
                {% include 'include/recipe.html' with recipe=recipe %}
            {% endfor %}
        </div>
        {% if page.paginator.count  > 6 %}
            {% include 'include/pagination.html' %}
        {% endif %}
    </main>
</body>
{% endblock %}
