{% load recipe_filters %}
{% if not request|is_favorite:recipe %}
    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
    {% if main_page %}
        <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
    {% endif %}
{% else %}
    <button class="button button_style_none" name="favorites" ><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
    {% if main_page %}
        <div class="single-card__favorite-tooltip tooltip">Удалить из избранного</div>
    {% endif %}
{% endif %}