{% load recipe_filters %}
{% if not request|is_favorite:recipe %}
    {% if main_recipe %}<li class="single-card__item">{% else %}<p class="favorite_button">{% endif %}
    <button class="button button_style_light-blue button_size_auto" name="favorites" data-out>Добавить в избранное</button>
{% else %}
    <button class="button button_style_none" name="favorites" ><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
    <div class="single-card__favorite-tooltip tooltip">Удалить из избранного</div>
{% endif %}
