<header>
    {% load static %}
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Проект Foodgram</title>
    <nav class="nav">
        <div class="nav__container container">
            {% if user.is_authenticated %}
                {% with url_now=request.resolver_match.url_name %}
                    <ul class="nav__items list">
                        <li class="nav__item {% if url_now == 'index' or url_now == 'profile' or url_now == 'recipe' %} nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                        <li class="nav__item {% if url_now == 'follow' %} nav__item_active {% endif %}"><a href="{% url 'follow' %}" class="nav__link link">Мои подписки</a></li>
                        <li class="nav__item {% if url_now == 'create_recipe' or url_now == 'edit_recipe'%} nav__item_active {% endif %}"><a href="{% url 'create_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                        <li class="nav__item {% if url_now == 'favorites' %} nav__item_active {% endif %}"><a href="{% url 'favorites' %}" class="nav__link link">Избранное</a></li>
                        <li class="nav__item {% if url_now == 'shoplist' %} nav__item_active {% endif %}"><a href="{% url 'shoplist' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{% if request.user.shoplist.count > 0 %}{{ request.user.shoplist.count }}{% endif %}</span></li>
                    </ul>
                    <ul class="nav__items list">
                        <li class="nav__item {% if url_now == 'password_change' %} nav__item_active {% endif %}"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                        <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                    </ul>
                {% endwith %}
            {% else %}
                {% with url_now=request.resolver_match.url_name %}
                    <ul class="nav__items list">
                        <li class="nav__item {% if url_now == 'index' %} nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                    </ul>
                    <ul class="nav__items list">
                        <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                        <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
                    </ul>
                {% endwith %}
            {% endif %}
        </div>
    </nav>
</header>
